<!-- <div class="d1" #scroll>
 
    <div class="d2" >
   
    <img [src]="image" alt="">
<span>
     <button *ngIf="tog" class="togle" mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>

    </button></span> -->
    <!-- <ul ><li>
      <a href="#" (click)="ho()">Home</a></li>
      <li> <a href="#" (click)="about()" >  About</a></li>
      <li> <a > Login</a></li>
    </ul> -->
  
    
  <!-- <ul *ngIf="list"><li>
    <a href="#" (click)="ho()">Home</a></li>
    <li> <a href="#" (click)="about()" >  About</a></li>
    <li> <a > Login</a></li>
  </ul>
  <span ><h1>የኢትዮጵያ ፊደራል ፖሊስ ብድር እና ቁጠባ ሲስተም</h1></span>  
    </div> -->
  
    <!-- <div class="d4"> -->
      
<!--*ngIf="hideSideMenu$ | async"-->
      <div class="container"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      
      >
      <div class="item item-3" fxFlex="1 3 auto"><img [src]="image" alt="" class="animate__animated animate__flip" style="    height: 4em;
        margin-left: 190px;
        margin-top: -5px;"></div>
      
      <div  class="item item-1"  fxFlex="60"><h1  style="    margin-top: -90px;     margin-right: -290px; font-size: larger;
        color: sienna;" class="animate__animated animate__rubberBand">የኢትዮጵያ ፊደራል ፖሊስ ብድር እና ቁጠባ ሲስተም</h1></div>
      </div>
      <div class="container" fxLayout
      fxLayoutAlign="center" style="margin-top: -10px">
      <div class="item item-2" fxFlex="3 1 auto">
      
       
        <h1 style="margin-left:160px" class="animate__animated animate__bounce"></h1>
        <form [formGroup]="login">
            <i class="fa-solid fa-user fa-5x" style="margin-left: 120px;" ></i>
            <br><br>
            <label>Username</label>
        <input type="text" formControlName="username" style="margin-left:10px">
        <br>
        <span *ngIf="login.get('username')?.touched && login.get('username')?.hasError('required')"
        style="color:red; font-size:small ">እባክዎ ያስገቡ</span>
       
        
        <br>
        <label>Password</label>
        <input type="password" formControlName="password" style="margin-left:10px"> 
        
        <br>
        <span *ngIf="login.get('password')?.touched && login.get('password')?.hasError('required')"
        style="color:red; font-size:small ">እባክዎ ያስገቡ</span>
        <br>
        <button mat-raised-button color="primary" [disabled]="!login.valid">Login</button>

        </form>
      
      </div>
      </div>



      


    <!-- </div> -->
    <!-- <div class="d5"></div>
    <div class="d6" id="hh">ttttttttttttttttttttttttttttttttttttttt</div>
    <!- <div>
      <div class="d7">khihi</div>
    
          </div>
  </div> --> 




