<!-- <div class="container"
fxLayout
fxLayoutAlign="center"
fxLayoutGap="0px"
>
<div class="item item-3" fxFlex><img [src]="image" alt="" style="    height: 6em;
  margin-left: 40px;
  margin-top: -65px;"></div>

<div class="item item-1" fxFlex="3 1 auto"><h1 style="    margin-top: 20px;     margin-right: 200px;">የኢትዮጵያ ፊደራል ፖሊስ ብድር እና ቁጠባ ሲስተም</h1></div>
</div>
<div class="container" fxLayout
fxLayoutAlign="center">
<div class="item item-2" fxFlex>

 

</div>
</div> -->
<router-outlet></router-outlet>

<ul>
  <li *ngFor="let i of aaa">{{i.name}}</li>
</ul>