.container {
    margin: 10px;
    // height: 100px;
  }
  
  .item {
    // border-radius: .2em;
      color:black;
    // font-family: sans-serif;
    font-size: 2em;
     padding: 4em 1em;
    height: 100px;
    text-transform: uppercase;
  }
  
  .item-1 {
    background-color:whitesmoke;
    text-align: center;
    height: 80px;
  }
  
  .item-2 {
    background-color: #55b296;
    text-align: center;
  }
  
  .item-3 {
    background-color:whitesmoke;
  }
  
  